ZENDESK_API_BASE_URL = 'https://<YOUR ZENDESK SUBDOMAIN>.zendesk.com/sc/v2'; # this env var should include the version added to the end of the subdomain "v2"
ZENDESK_CONVERSATION_API_KEY_ID = '<YOUR ZENDESK CONVERSATION API KEY ID>';
ZENDESK_CONVERSATION_API_SECRET = '<YOUR ZENDESK CONVERSATION API SECRET>';
AUTO_RESPONDER_INKEEP_API_KEY = '<YOUR INKEEP API KEY>';
AI_ASSISTANT_AVATAR_URL = '<YOUR AI ASSISTANT AVATAR URL>'; # example https://example.com/avatar.png
AI_ASSISTANT_NAME = '<YOUR AI ASSISTANT NAME>'; # example "Inkeep"