# Infrastructure
KV_REST_API_URL='<YOUR KV REST API URL>' # follow guide https://www.npmjs.com/package/@vercel/kv#vercelkv
KV_REST_API_TOKEN='<YOUR KV REST API TOKEN>'

# Zendesk API Configuration
ZENDESK_API_BASE_URL='https://<YOUR ZENDESK SUBDOMAIN>.zendesk.com/sc/v2' # this env var should include the version added to the end of the subdomain "v2"
ZENDESK_CONVERSATION_API_KEY_ID='<YOUR ZENDESK CONVERSATION API KEY ID>' # explained in the accompanying notion docs
ZENDESK_CONVERSATION_API_SECRET='<YOUR ZENDESK CONVERSATION API SECRET>' # explained in the accompanying notion docs

# Display Configuration
AI_ASSISTANT_AVATAR_URL='<YOUR AI ASSISTANT AVATAR URL>' # example https://example.com/avatar.png
AI_ASSISTANT_NAME='<YOUR AI ASSISTANT NAME>' # example "Inkeep"

# Inkeep API Configuration
AUTO_RESPONDER_INKEEP_API_KEY='<YOUR INKEEP API KEY>' # This should be the apikey for your Inkeep integration of type (API or Support Copilot) 